/* NTWE 2.0

© 2017 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
body {
      background-color: black; /* background color, set this to anything you want */
      font-family: "Open Sans", Helvetica, Arial, sans-serif;"; /* default font, set to anything you want, but try to stick to web safe fonts. Search them on google. */
      font-size: 12px; /* size of font with no headings, set to anything you want, same for h1 thru h8 */
      color: white; /* text color, set this to anything you want */
}
.text-size-xxl {
      font-size: 128px;
}
.text-size-xl {
      font-size: 96px;
}
.text-size-l {
      font-size: 72px;
}
.text-size-lm {
      font-size: 56px;
}
.text-size-m {
      font-size: 40px;
}
.text-size-sm {
      font-size: 28px;
}
.text-size-s {
      font-size: 22px;
}
.text-size-xs {
      font-size: 20px;
}
p {
      font-size: 12px;
}
div p {
      font-size: 12px;
}

/* table code start */
table {
      border-collapse: collapse; /* remove this if you want 2 headings */
}
table, th, td {
      border: 2px solid white;
}
/* table code end */
a:link {
      color: white; /* just to make sure the links are flush with the page, unclicked unhovered link. */
}

a:visited {
      color: green; /* when a link has already been visited, change to whatever you want */
}
a:hover {
      color: yellow; /* the color when you mouse over a link, change to whatever you want */
}
a:active {
      color: blue; /* when a link is clicked, change to whatever you want */
}

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
}
li {
      float: left;
}

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}
li a:hover {
      background-color: #111
}

/* misc classes */
.img-placeholder {
      background-color: #808080;
      width: 300px;
      height: 300px;

}
/* misc elements */
q {
  width: 80px;
  display: inline-block;
  height: 40px;
  background-color: #003000;
}

/* mobile elements */
div .q-mobile, p .q-mobile, q .q-mobile, .q-mobile {
  width: 40px;
  display: inline-block;
  height: 20px;
}

div .img-placeholder-mobile, p .img-placeholder-mobile, .img-placeholder-mobile {
  width: 120px;
  height: 120px;
}
